streamlit>=1.24.0
requests>=2.31.0
pandas>=2.0.0
beautifulsoup4>=4.12.0
playwright>=1.32.0
numpy>=1.23.0
flask>=2.3.0
werkzeug>=2.3.0
tradingview-screener==3.0.0
gnews>=0.1.10
vaderSentiment>=3.3.2
pytz>=2023.3
plotly>=5.15.0
openpyxl>=3.0.0
streamlit-lottie>=0.0.3
google-auth>=2.20.0
scikit-learn>=1.2.0
tqdm>=4.65.0
lxml[html_clean]>=4.9.0
lxml_html_clean
memory-profiler>=0.61.0
pytest>=7.4.3
pytest-benchmark>=4.0.0
psutil>=5.9.0
typing-extensions>=4.0.0
aiohttp>=3.8.0
cachetools>=5.0.0
plotly-express>=0.4.1
scipy>=1.9.0
streamlit-autorefresh
yfinance>=0.2.0
ruff>=0.1.3
pdoc>=15.0.0
pyright>=1.1.364
ipython>=8.16.1
newspaper3k
selenium>=4.10.0
webdriver-manager>=4.0.0
# Add any other packages you use below
tabulate==0.9.0
vaderSentiment
fpdf
beautifulsoup4
